* {
    box-sizing: border-box;
}

body, div,h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

body {
    color: #505050;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    background: #f1f1f1;
}
.a{
  float:right;
  display: inline-block;

}


.sitemap{
	float: center;
	margin-bottom: 0px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
    padding-left: 20px;
    padding-right: 20px;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-right: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.cardLast {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    text-align: center;
    background: rgba(0, 0, 0, .7);
    display: block;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

/*
Fade in effect
*/
@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}


table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border-spacing: 30;

}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../font/HelveticaNeue.ttf") format("truetype");
}


.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 16px;
    padding-top: 30px;

}

.content {
    padding: 38px 0;
}

.picture {
    padding: 235px 0;
    background-position: 0 0;
}
h1 {
    color: #1e1e1e;
    line-height: 1;
    font-weight: 100;
    text-align: center;
    font-size: 75px;
    text-shadow: 0 0 10px white;
}

/*changing the font with the displaying size*/
@media all and (min-width: 300px) {
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }
    .picture {
        padding: 200px 0;
    }
    .picture h1 {
        font-size: 75px;
    }
}

@media all and (min-width: 600px) {
    h2 {
        font-size: 42px;
    }
    p {
        font-size: 20px;
    }
    .picture {
        padding: 300px 0;
    }
    .picture h1 {
        font-size: 96px;
    }
}

@media all and (min-width: 960px) {
    .picture h1 {
        font-size: 160px;
    }
}

.colourWhite,.whiteHover:hover{
    color:#000;
    background-color:#fff
}

/*
CSS for shop adding shadows(3-D look) and interactivity
*/
.shpItem{
    width: 200px;
    height: 350px;
    border:1px solid darkgreen;
    box-shadow: 0 0 13px #455444;
    display: inline-block;
    margin: 7px;
    margin-top: 60px;

}
/* hover to glow effect*/
.shpItem:hover {
    box-shadow: 0 0 50px #333333;
}

.shopItemQ{
    display: inline-block;
}

.txtQuant{
    display: inline;
    width: 20px;
    margin-left: 35px;
}

.odrBtn{
    width: 80px;
    height: 50px;
    padding: 14px;
    margin-top: 20px;
    margin-left: 110px;
    box-shadow: 0 0 3px #444444;
    background-color: darkgreen;
    display: inline-block;
    text-align: center;
    text-shadow: 0 0 10px white;
    color: #dddddd;
    font-weight: 200;
}

.odrBtn:hover{
    box-shadow: 0 0 20px #444444;

}

.odrBtn:active{
    box-shadow: 0 0 200px #444444;

}

#outBtn:hover{
    box-shadow: 0 0 20px #444444;

}

#outBtn:active{
    box-shadow: 0 0 200px #444444;

}

.shpItemPic{
    width: 100px;
    height: 120px;
    box-shadow: 1 05 10px #467994;
    display: inline-block;
    background-size: cover;
    transition: all 0.4s ease;

}
.saleImg{
  width: 250px;
  height: 142px;
  display: inline-block;
  background-size: cover;
  transition: all 0.4s ease;
  margin-left: 40px;


}
.delImg{
  width: 300px;
  height: 200px;
  display: inline-block;
  background-size: cover;
  transition: all 0.4s ease;
}

.dogImgGIf{
  width: 200px;
  height: 35px;
  float: right;
  display: inline-block;
  background-size: cover;
  transition: all 0.4s ease;
}

.fontSizeChange{
  width: 80px;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  float:inherit;
  display: inline-block;
  background-size: cover;
  transition: all 0.4s ease;
  border-radius: 100%;
}

/*pictures in page*/
.picCart{
    background-image: url("../images/dogThank.gif");
    width: 267px;
    height: 238px;
    margin-left: auto;
    margin-right: auto;
}


#plusicon{
  background-image: url("../images/plus.png");
}
#minusicon{
  background-image: url("../images/minus.png");
}


#dogGIF{
  background-image: url("../images/dog.gif");
}

#saleimg{
    background-image: url("../images/sale.png");
}

#delimg{
  background-image: url("../images/freeDel.png");
}

/* pictures for shop items*/

#Picture1{
    background-image: url("../images/item/item1.jpg");
}

#Picture2{
    background-image: url("../images/item/item2.jpg");
}

#Picture3{
    background-image: url("../images/item/item3.jpg");
}

#Picture4{
    background-image: url("../images/item/item4.jpg");
}

#Picture5{
    background-image: url("../images/item/item5.jpg");
}

#Picture6{
    background-image: url("../images/item/item6.jpg");
}

#Picture7{
    background-image: url("../images/item/item7.jpg");
}

#Picture8{
    background-image: url("../images/item/item8.jpg");
}

/*clear cart and show cart buttons*/
.buttonClear{
  background-color: #2196f3;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-left: 14px;
}
.buttonDisp{
  background-color: #2196f3;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.buttonClear:hover, .buttonDisp:hover, .buttonFont:hover {opacity: 1}

.buttonFont{
  background-color: #2196f3;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.footext {
	float:none;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	font-size: 20px;
}
